<div class="category-tab"><!--category-tab-->
	<div class="col-sm-12">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tshirt" data-toggle="tab">Clasicas</a></li>
			<li><a href="#blazers" data-toggle="tab">Especiales</a></li>
			<li><a href="#sunglass" data-toggle="tab">Gourmet</a></li>
			<li><a href="#kids" data-toggle="tab">Postres</a></li>
			<li><a href="#poloshirt" data-toggle="tab">Bebidas</a></li>
		</ul>
	</div>
	<div class="tab-content">
		<div class="tab-pane fade active in" id="tshirt" >
			<div class="col-sm-3" ng-repeat="category in pizzas | limitTo : 4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img ng-src="{{category.img}}" alt="" />
							<h2>{{category.name}}</h2>
							<p ng-repeat="category in category.ing">{{category}}.</p>
							<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Pidela</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		<div class="tab-pane fade" id="blazers" >
			<div class="col-sm-3" ng-repeat="category in pizzas | limitTo : 4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img ng-src="{{category.img}}" alt="" />
							<h2>{{category.name}}</h2>
							<p ng-repeat="category in category.ing">{{category}}.</p>
							<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Pidela</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		<div class="tab-pane fade" id="sunglass" >
			<div class="col-sm-3" ng-repeat="category in pizzas | limitTo : 4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img ng-src="{{category.img}}" alt="" />
							<h2>{{category.name}}</h2>
							<p ng-repeat="category in category.ing">{{category}}.</p>
							<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Pidela</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		<div class="tab-pane fade" id="kids" >
			<div class="col-sm-3" ng-repeat="category in pizzas | limitTo : 4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img ng-src="{{category.img}}" alt="" />
							<h2>{{category.name}}</h2>
							<p ng-repeat="category in category.ing">{{category}}.</p>
							<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Pidela</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		<div class="tab-pane fade" id="poloshirt" >
			<div class="col-sm-3" ng-repeat="category in pizzas | limitTo : 4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img ng-src="{{category.img}}" alt="" />
							<h2>{{category.name}}</h2>
							<p ng-repeat="category in category.ing">{{category}}.</p>
							<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Pidela</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/category-tab-->