<div class="recommended_items"><!--recommended_items-->
	<h2 class="title text-center">Recomendaciones</h2>
	<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
	 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
		<i class="fa fa-angle-left"></i>
	</a>
	<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
		<i class="fa fa-angle-right"></i>
	</a>
	<div class="carousel-inner">
			<div class="item active">	
				<div class="col-sm-4" ng-repeat="recommend in pizzas | limitTo: 3">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								<img ng-src="{{recommend.img}}" alt="" />
								<h2>{{recommend.name}}</h2>
								<p ng-repeat="recommend in recommend.ing">{{recommend}}</p>
								<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="item">	
				<div class="col-sm-4" ng-repeat="recommend in pizzas | limitTo: 3">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								<img ng-src="{{recommend.img}}" alt="" />
								<h2>{{recommend.name}}</h2>
								<p ng-repeat="recommend in recommend.ing">{{recommend}}</p>
								<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div><!--/recommended_items-->